<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pt.menuguru.menuguru6" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!-- para as push up notifications -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <permission android:name="pt.menuguru.menuguru6.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="pt.menuguru.menuguru6.permission.C2D_MESSAGE" />



    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.MyAppTheme" >

        <receiver
            android:name=".Utils.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="pt.menuguru.menuguru6" />
            </intent-filter>
        </receiver>
        <service android:name=".Utils.GcmIntentService" />


        <!-- Splash screen -->
        <activity
            android:name=".SplashScreen.SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Main activity -->
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>



        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBWp0x8GGWgvJMzAQx8rZfeIt8AnlhAL2s"/>

        <!--
        <activity
            android:name="pt.menuguru.menuguru6.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        -->
        <activity
            android:name="pt.menuguru.menuguru6.MinhaConta"
            android:screenOrientation="portrait" />
        <activity
            android:name="pt.menuguru.menuguru6.Localizacao"
            android:label="@string/title_activity_localizacao"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="pt.menuguru.menuguru6.Inspiracoes.Activity_Inspiracao"
            android:label="@string/title_activity_inspiracao"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="pt.menuguru.menuguru6.ReadFileAssetsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Mapa.Mapa"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".os_tres_tipos.video"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:screenOrientation="landscape"
            >
        </activity>
        <activity
            android:name="pt.menuguru.menuguru6.Inspiracoes.Resultado_inspiracao"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".menus.Menu_ementa"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name=".menus.Menu_diaria"
            android:screenOrientation="portrait" >
        </activity>
        Menu_diaria
        <activity
            android:name=".os_tres_tipos.Noticia"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="pt.menuguru.menuguru6.LoginMenuGuru"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="pt.menuguru.menuguru6.ResultadosProcurarMesa.Resultados"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".os_tres_tipos.lista_festivais_sugestoes"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="pt.menuguru.menuguru6.EscolherLingua"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="pt.menuguru.menuguru6.CriarUser"
            android:label="@string/title_activity_criar_user"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="pt.menuguru.menuguru6.Filtros_mega_avancados"
            android:label="@string/filtrosavancados"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="pt.menuguru.menuguru6.Resultados_filtros_avancados"
            android:label="Login facebook"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.facebook.LoginActivity"
            android:label="Login facebook"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="pt.menuguru.menuguru6.Restaurante.Restaurante_header"
            android:label="Restaurante"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="pt.menuguru.menuguru6.MenuEspecial_nos_especiais"
            android:label="Especial"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="pt.menuguru.menuguru6.Restaurante.Info.InfoRestaurante"
            android:label="Info"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="pt.menuguru.menuguru6.Restaurante.Info.InfoRestReportarErro"
            android:label="Reportar erro"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="pt.menuguru.menuguru6.Restaurante.Avaliar.Avaliar_restaurante"
            android:label="Avaliar"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="pt.menuguru.menuguru6.Restaurante.Comentarios.Lista_comentarios"
            android:label="Avaliar"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="pt.menuguru.menuguru6.Favoritos.Favoritos"
            android:label="@string/favoritos"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Favoritos.Favoritos_gerir"
            android:label="@string/favoritos"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Favoritos.Favoritos_list_restaurantes"
            android:label="@string/favoritos"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name="pt.menuguru.menuguru6.Restaurante.Restaurante_main"
            android:label="Restaurante"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="pt.menuguru.menuguru6.ComoFunciona"
            android:label="Como Funciona"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="pt.menuguru.menuguru6.Destaques"
            android:label="Como Funciona"
            android:screenOrientation="portrait" >
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />

        <activity
            android:name="pt.menuguru.menuguru6.Resultado_festivais"
            android:label="@string/title_activity_resultado_festivais"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="pt.menuguru.menuguru6.MenuEspecial"
            android:label="@string/title_activity_menu_especial"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="pt.menuguru.menuguru6.Voucher"
            android:label="@string/title_activity_voucher"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>
