
Menuguru6/app/app.iml

Menuguru6/app/src/main/AndroidManifest.xml

Menuguru6/app/src/main/res/drawable-hdpi/b_local.png

Menuguru6/app/src/main/java/pt/menuguru/menuguru6/Inicio.java

Menuguru6/facebook/build/intermediates/bundles/debug/res/drawable/com_facebook_button_blue.xml

Menuguru6/facebook/build/intermediates/bundles/debug/res/drawable/com_facebook_button_check.xml

Menuguru6/facebook/build/intermediates/bundles/debug/res/drawable/com_facebook_loginbutton_silver.xml

Menuguru6/app/src/main/res/menu/main.xml

Menuguru6/facebook/build/intermediates/bundles/debug/res/drawable/com_facebook_picker_list_selector.xml

Menuguru6/facebook/build/intermediates/bundles/debug/res/drawable/com_facebook_picker_item_background.xml

Menuguru6/app/src/main/java/pt/menuguru/menuguru6/Inicio.java

Menuguru6/facebook/build/intermediates/bundles/debug/res/drawable/com_facebook_picker_list_selector_background_transition.xml

Menuguru6/facebook/build/intermediates/bundles/debug/res/drawable/com_facebook_picker_top_button.xml

Menuguru6/facebook/build/intermediates/bundles/debug/res/drawable/com_facebook_top_background.xml

Menuguru6/facebook/build/intermediates/bundles/debug/res/drawable/com_facebook_top_button.xml

Menuguru6/facebook/build/intermediates/bundles/debug/res/drawable/com_facebook_usersettingsfragment_background_gradient.xml

Menuguru6/facebook/build/intermediates/bundles/debug/res/layout/com_facebook_friendpickerfragment.xml

Menuguru6/facebook/build/intermediates/bundles/debug/res/layout/com_facebook_login_activity_layout.xml

Menuguru6/facebook/build/intermediates/bundles/debug/res/layout/com_facebook_picker_activity_circle_row.xml

Menuguru6/facebook/build/intermediates/bundles/debug/res/layout/com_facebook_picker_checkbox.xml

Menuguru6/facebook/build/intermediates/bundles/debug/res/layout/com_facebook_picker_image.xml

Menuguru6/facebook/build/intermediates/bundles/debug/res/layout/com_facebook_picker_list_row.xml

Menuguru6/facebook/build/intermediates/bundles/debug/res/layout/com_facebook_picker_list_section_header.xml

Menuguru6/facebook/build/intermediates/bundles/debug/res/layout/com_facebook_picker_search_box.xml

Menuguru6/facebook/build/intermediates/bundles/debug/res/layout/com_facebook_picker_title_bar.xml

Menuguru6/facebook/build/intermediates/bundles/debug/res/layout/com_facebook_picker_title_bar_stub.xml

Menuguru6/facebook/build/intermediates/bundles/debug/res/layout/com_facebook_placepickerfragment.xml

Menuguru6/facebook/build/intermediates/bundles/debug/res/layout/com_facebook_placepickerfragment_list_row.xml

Menuguru6/facebook/build/intermediates/bundles/debug/res/layout/com_facebook_search_bar_layout.xml

Menuguru6/facebook/build/intermediates/bundles/debug/res/layout/com_facebook_tooltip_bubble.xml

Menuguru6/facebook/build/intermediates/bundles/debug/res/layout/com_facebook_usersettingsfragment.xml

Menuguru6/facebook/build/intermediates/bundles/debug/res/values-es/values.xml

Menuguru6/facebook/build/intermediates/bundles/debug/res/values-hdpi-v4/values.xml

Menuguru6/facebook/build/intermediates/bundles/debug/res/values-he/values.xml

Menuguru6/facebook/build/intermediates/bundles/debug/res/values-iw/values.xml

Menuguru6/facebook/build/intermediates/bundles/debug/res/values-ldpi-v4/values.xml

Menuguru6/facebook/build/intermediates/bundles/debug/res/values-mdpi-v4/values.xml

Menuguru6/facebook/build/intermediates/bundles/debug/res/values-xhdpi-v4/values.xml

Menuguru6/facebook/build/intermediates/bundles/debug/res/values/values.xml

Menuguru6/facebook/build/intermediates/incremental/mergeAssets/debug/merger.xml

Menuguru6/facebook/build/intermediates/incremental/packageResources/debug/merger.xml
