
Menuguru6/app/app.iml

Menuguru6/app/src/main/AndroidManifest.xml

Menuguru6/app/src/main/res/drawable-hdpi/b_local.png

Menuguru6/app/src/main/java/pt/menuguru/menuguru6/Inicio.java

Menuguru6/facebook/build/intermediates/bundles/debug/res/drawable/com_facebook_button_blue.xml

Menuguru6/facebook/build/intermediates/bundles/debug/res/drawable/com_facebook_button_check.xml

Menuguru6/facebook/build/intermediates/bundles/debug/res/drawable/com_facebook_loginbutton_silver.xml

Menuguru6/app/src/main/res/menu/main.xml

Menuguru6/facebook/build/intermediates/bundles/debug/res/drawable/com_facebook_picker_list_selector.xml

Menuguru6/facebook/build/intermediates/bundles/debug/res/drawable/com_facebook_picker_item_background.xml
